<div class="row align-items-center">
  <div class="card col">
    <div class="card-body">
      <app-checkout-item-list></app-checkout-item-list>
    </div>
    <!-- <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)"> -->
    <div class="row p-4">
      <div class="col-md-6">
        <div class="card-header text-center">
          <h4>Delivery Address</h4>
        </div>
        <form>
          <div class="card-body">
            <div class="form-group">
              <label for="addressLine1">Address Line 1</label>
              <input type="text" id="addressLine1" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="addressLine2">Address Line 2</label>
              <input type="text" id="addressLine2" class="form-control" />
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" id="state" class="form-control"/>
            </div>

            <div class="form-group">
              <label for="state">State</label>
              <input type="text" id="state" class="form-control" />
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <table class="table">
          <tbody>
            <tr>
              <td>Sub Total</td>
              <td class="text-right">{{ cartTotal | currency: "LKR " }}</td>
            </tr>
            <tr>
              <td>Tax</td>
              <td class="text-right">{{ Tax | currency: "LKR " }}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td class="text-right">{{ finalTotal | currency: "LKR " }}</td>
            </tr>
            <tr>
              <td>Payment Method</td>
              <td class="text-right">
                <div class="text-right">
                  <form>
                    <div>
                      <select
                        class="custom-select d-block w-100"
                        id="country"
                        required=""
                      >
                        <option value="">Credit Card (Visa)</option>
                        <option>Cash on Delivery</option>
                      </select>

                    </div>
                  </form>
                </div>
              </td>
            </tr>
            <tr>
              <td>I agree with the terms and conditions</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-right">
                <!-- <button class="btn btn-sm btn-outline-primary btn-block" > -->
                  <button class="btn btn-sm btn-outline-primary btn-block" (click)="checkout()">
                  Checkout
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <!-- </form> -->
  </div>

</div>
